---
import Layout from "@/layouts/layout.astro";
import AnimationComponent from "@/components/animation";
import { buttonVariants } from "@/components/ui/button";
import DiscordComponent from "@/components/discord";
import { MapPin, Cake, Youtube, Github } from "lucide-react";

const birthDate = new Date("2007-06-12");

const getAge = (date: Date) => {
    const today = new Date();
    let age = today.getFullYear() - date.getFullYear();

    const hasHadBirthdayThisYear =
        today.getMonth() > date.getMonth() ||
        (today.getMonth() === date.getMonth() &&
            today.getDate() >= date.getDate());

    if (!hasHadBirthdayThisYear) {
        age--;
    }

    return age;
};

const age = getAge(birthDate);
---

<Layout>
    <div class="container mx-auto lg:py-0 px-8 lg:px-14">
        <!-- main -->
        <section
            id="home"
            class="lg:min-h-[calc(100vh-8rem)] lg:items-center lg:flex lg:justify-between space-y-14 lg:space-y-0"
        >
            <div class="text-center lg:text-start space-y-6">
                <div>
                    <AnimationComponent
                        initial={{ opacity: 0, x: -100 }}
                        whileInView={{ opacity: 1, x: 0 }}
                        transition={{ duration: 0.6, ease: "easeOut" }}
                        client:load
                    >
                        <h1 class="text-5xl md:text-6xl font-bold">
                            Hello, I’m <span
                                class="font-light italic relative inline-block px-4 py-1 -rotate-3 rounded-lg bg-linear-to-r from-violet-400 via-purple-500 to-violet-600 shadow-[0_0_40px_-5px_rgba(139,92,246,0.6)]"
                                >k0am0</span
                            >!
                        </h1>
                    </AnimationComponent>
                </div>

                <div>
                    <AnimationComponent
                        initial={{ opacity: 0, x: -80 }}
                        whileInView={{ opacity: 1, x: 0 }}
                        transition={{
                            duration: 0.6,
                            delay: 0.4,
                            ease: "easeOut",
                        }}
                        client:load
                    >
                        <div class="flex items-center gap-4">
                            <div class="flex items-center gap-2">
                                <MapPin className="text-muted-foreground" />
                                <p
                                    class="text-muted-foreground mx-auto lg:mx-0"
                                >
                                    United States, Michigan
                                </p>
                            </div>
                            <div class="h-4 border border-r border-purple-500">
                            </div>
                            <div class="flex items-center gap-2">
                                <Cake className="text-muted-foreground" />
                                <p
                                    class="text-muted-foreground mx-auto lg:mx-0"
                                >
                                    June 12, 2007 ({age} years old)
                                </p>
                            </div>
                        </div>
                    </AnimationComponent>
                </div>

                <div>
                    <AnimationComponent
                        initial={{ opacity: 0, x: -80 }}
                        whileInView={{ opacity: 1, x: 0 }}
                        transition={{
                            duration: 0.6,
                            delay: 0.8,
                            ease: "easeOut",
                        }}
                        client:load
                    >
                        <div class="space-y-4 md:space-y-0 md:space-x-2">
                            <a
                                href="https://www.youtube.com/@juuupy"
                                target="_blank"
                                class={`cursor-pointer ${buttonVariants({ variant: "outline" })}`}
                                ><Youtube className="text-accent-foreground" />
                                <span>YouTube</span></a
                            >
                            <a
                                href="https://github.com/k0am0"
                                target="_blank"
                                class={`cursor-pointer ${buttonVariants({ variant: "outline" })}`}
                                ><Github className="text-accent-foreground" />
                                <p>GitHub</p></a
                            >
                        </div>
                    </AnimationComponent>
                </div>
            </div>

            <div class="w-full lg:w-[40%]">
                <AnimationComponent
                    initial={{ opacity: 0, x: 100 }}
                    whileInView={{ opacity: 1, x: 0 }}
                    transition={{ duration: 0.6, delay: 1, ease: "easeOut" }}
                    client:load
                >
                    <DiscordComponent client:load />
                </AnimationComponent>
            </div>
        </section>
    </div>
</Layout>
