<footer
    class="border-t bg-background shadow-xs dark:bg-input/30 dark:border-input p-4 mt-24"
>
    <p class="text-sm text-muted-foreground text-center">
        Crafted with <span class="text-violet-500">♥</span> and too much coffee.
    </p>
</footer>
